@import url(/src/App.css);

.details-bar {
    width: 100%;
    height: 100%;
}

.social {
    width: 90%;
    background-color: var(--card-bg);
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    margin: 15px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.details p {
    color: white;
}

.social a {
    width: 90%;
    height: 50px;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}

.social a:hover {
    background: white;
    color: var(--card-bg);
}

.details {
    width: 90%;
    background-color: var(--card-bg);
    border-radius: 10px;
    margin: 15px;
    margin-top: 80px;
    padding: 20px;
}

.details h3 {
    font-size: 500px;
    font-size: 20px;
    color: white;
}

.details a {
    text-decoration: none;
    font-family: monospace;
    color: white;
    line-height: 10px;
}

@media screen and (max-width: 640px) {
    .details-bar {
        width: 100%;
        position: static;
      }
      
      .details {
        margin-top: 0;
      }

      .social {
        margin-bottom: 0;
        margin-top: 20px;
      }

      .social a {
        height: 40px;
      }
}