@import url(/src/App.css);

@font-face {
    font-family: 'Spac3Neon';
    src: url("/public/fonts/Spac3Neon.ttf");
}

.about {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: var(--bg);
    z-index: 10;
}

nav button {
    color: var(--primary-text);
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 18px;
    margin: 15px;
}

.link button:hover {
    padding-bottom: 0;
    border-bottom: 2px solid var(--secondary-text);
    transition: .5s ease-in-out;
}

.active {
    padding-bottom: 0;
    border-bottom: 2px solid var(--secondary-text);
    transition: .5s ease-in-out;
}

.logo {
    color: var(--secondary-text);
    font-family: 'Spac3Neon';
    font-size: 26px;
    letter-spacing: 4px;
    padding-left: 10px;
}

.about-container {
    height: calc(100% - 50px);
    margin: 0 120px 0 50px;
    overflow: hidden;
}

.heading {
    color: var(--primary-text);
    font-size: 65px;
    margin-top: 30px;
    margin-left: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.about-container p {
    margin-top: 10px;
    font-size: 25px;
    text-align: left;
    margin-left: 20px;
    line-height: 35px;
}

.skill-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 50px;
}

.skill-icon {
    color: #adacac;
    font-size: 100px;
    position: relative;
}

.js:hover {
    color: yellow;
}

.html:hover {
    color: #e34c26;
}

.css:hover {
    color: #264de4;
}

.react:hover {
    color: #04d8f9;
}

.node:hover {
    color: #3c873a;
}

.mongo:hover {
    color: #00684a;
}

.express:hover {
    color: gray;
}

.sass:hover {
    color: #cd6799;
}

.skill-desc {
    position: absolute;
    top: -30px;
    font-size: 20px;
    color: var(--primary-text);
    display: none;
}

#js, #mongo, #express {
    left: 10px;
}

#html, #node, #sass {
    left: 20px;
}

#css {
    left: 30px;
}

#react {
    left: 25px;
}

.skill-icon:hover .skill-desc {
    display: block;
}

.about .made {
    position: absolute;
    font-size: 10px;
    right: 130px;
    bottom: 0;

}

.details-container {
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.experience-section {
    width: calc(100% - 400px);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 20px;
    padding-bottom: 30px;
    overflow-y: auto;
    z-index: 5;
    margin-top: 0;
    margin-bottom: 50px;
}

.experience-section h1 {
    color: var(--primary-text);
    font-size: 65px;
    margin-top: 50px;
}

.experience-section h2 {
    color: var(--secondary-text);
    font-size: 37px;
}

.experience-section h4 {
    color: var(--primary-text);
    font-size: 18px;
    margin-bottom: 5px;
}

.work-desc {
    color: var(--primary-text);
    margin-left: 20px;
    font-size: 20px;
}

.work-desc a {
    color: var(--primary-text);
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
}

@media screen and (max-width: 1080px) {
    .about {
        height: max-content;
    }

    .about-container {
        padding: 10px 150px 10px 0;
    }

    .experience-container {
        margin-top: 60px;
        background-color: var(--bg);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .details-container {
        width: 300px;
    }

    .experience-section {
      width: calc(100% - 300px);
      position: static;
      padding-bottom: 0;
      overflow: hidden;
      padding: 0 20px 20px 150px;
    }

    .experience-section h1 {
        margin-top: 0;
    }
}

@media screen and (max-width: 780px) {
    .about {
        height: max-content;
    }
    .about-container {
        margin: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .heading {
        font-size: 30px;
        margin-top: 60px;
        margin-right: 10px;
        text-align: center;
        margin-bottom: 30px;
    }

    .about-container p {
        font-size: 15px;
        text-align: left;
        margin-right: 100px;
    }

    .skill-container {
        padding-right: 100px;
    }

    .skill-icon {
        font-size: 80px;
    }

    .experience-container {
        margin-top: 60px;
        background-color: var(--bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .experience-section {
      width: 100%;
      position: static;
      padding-bottom: 0;
      overflow: hidden;
      
      padding:10px 120px 10px 10px;
    }
    
    .experience-section h1 {
      font-size: 40px;
      margin-top: 30px;
    }
    
    .experience-section h2 {
      font-size: 28px;
    }
    
    .experience-section h4 {
      font-size: 16px;
    }
    
    .work-desc {
      font-size: 18px;
      margin-right: 5px;
    }

    .work-desc a {
        font-size: 18px;
        text-align: left;
    }

    .details-container {
        width: 100%;
        position: static;
        margin-bottom: 20px;
        padding:10px 120px 10px 10px;
    }
}


@media screen and (max-width: 640px) {

    .about {
        background: var(--bg);
        height: max-content;
        flex-direction: column;
        gap: 20px;
        overflow-y: scroll;
    }

    .about-container {
        margin: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    nav {
        width: 80%;
    }

    .logo {
        font-size: 20px;
        margin-top: 5px;
    }

    nav button {
        font-size: 13px;
        margin: 5px;
    }

    .heading {
        font-size: 30px;
        margin-top: 60px;
        margin-right: 10px;
        text-align: center;
        margin-bottom: 30px;
    }

    .about-container p {
        font-size: 15px;
        text-align: left;
        margin-right: 0;
    }

    .skill-container {
        margin: 0;
        gap: 15px;
        padding: 10px 0 0 0;
    }

    .skill-icon {
        font-size: 80px;
    }

    .experience-container {
        margin-top: 60px;
        background-color: var(--bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .experience-section {
      width: 100%;
      position: static;
      padding-bottom: 0;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
    
    .experience-section h1 {
      font-size: 40px;
      margin-top: 30px;
    }
    
    .experience-section h2 {
      font-size: 28px;
    }
    
    .experience-section h4 {
      font-size: 16px;
    }
    
    .work-desc {
      font-size: 18px;
      margin-right: 5px;
    }

    .work-desc a {
        font-size: 18px;
        text-align: left;
    }

    .details-container {
        width: 100%;
        position: static;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }

    .skill-desc {
        top: -10px;
        font-size: 10px;
    }

    #js, #mongo, #express {
        left: 20px;
    }
    
    #html, #node, #sass {
        left: 25px;
    }
    
    #css {
        left: 30px;
    }
    
    #react {
        left: 25px;
    }

}

