@import url(/src/App.css);

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10%;
    z-index: 14 ;
}

.sidebar-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    color: var(--card-bg);
}

.sidebar-item a {
    text-decoration: none;
    color: var(--secondary-text);
}

.link-icons {
    color: black;
    font-size: 20px;
    padding: 0;
    margin: 0;
}