html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.dark {
  --bg: #070312;
  --card-bg: #110929;
  --primary-text: white;
  --secondary-text: #00c000;
  --secondary-card-text: #00c000;
}

.light {
  --bg: #f0f0f0;
  --card-bg: #c9483f;
  --primary-text: black;
  --secondary-text: brown;
  --secondary-card-text: #c9483f;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  scroll-snap-align: center;
}